.info__wrapper   {
   background-color: var(--third-brand-color);
}
.info {
   padding: 5rem 0 15rem;
}
.pos-img {
   width: 100%;
   height: auto;
}
.info .img {
   height: 60rem;
   object-fit: cover;
   margin-bottom: 5rem;
}
.info .text {
   color: var(--sub-text-color);
}
.info .text.bold {
   font-size: 3.5rem;
   position: relative;
}
.info .text.bold::before {
   position: absolute;
   display: block;
   content: '';
   left: 50%;
   top: -4rem;
   width: 15rem;
   height: 0.2rem;
   background-color: var(--main-bg-color);
   transform: translate(-50%, 0);
}
.info .item:not(:last-child) {
   margin-bottom: 15rem;
}
@media screen and (min-width: 1440px)  {
   .info .item {
      display: flex;
      align-items: center;
   }
   .info .item:nth-child(even) {
      flex-direction: row-reverse;
   }
   .info .text {
      margin-bottom: 0;
   }
   .info .text.bold {
      margin-bottom: 3rem;
   }
   .info .img {
      margin: 0;
      width: 50%;
      max-width: 50%;
   }
   .info .text-block {
      width: 50%;
      padding: 3rem;
   }
   .info .item:not(:last-child) {
      margin-bottom: 0;
   }
}


